.event-div {
  width: 25%;
  background-color: white;
  border-radius: 5px;
  margin: 0px 3%;
  transition: 0.3s;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.event-div:hover {
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.8);
  transition: 0.3s;
}

.event-heading {
  font-size: 2vw;
  text-align: center;
  margin-left: 5%;
  color: #FF5846;
}

.event-container {
  display: flex;
  justify-content: center;
}

.event-description {
  text-align: center;
  font-size: 1.5vw;
  padding:1%;
}

.event-img {
  width: 100%;
  display: block;
  height: 15vw;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.event-time {
  font-family: Lovelo;
  font-size: 3vw;
  margin: 5%;
  text-align: center;
  color: #1a2f4d;
}

/* MEDIA FOR SMALL SCREEN */

@media only screen and (max-width: 480px) {
  body {
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Open Sans", sans;
    justify-content: center;
    text-align: center;
    perspective: 1800px;
  }

  h1 {
    color: #3e3e42;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 30px;
    transform: translateZ(35px);
  }

  h3 {
    color: #eb285d;
    font-size: 16px;
    margin-bottom: 6px;
    transform: translateZ(25px);
  }

  .event-div {
    width: 25%;
    background-color: white;
    border-radius: 5px;
    margin: 0px 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    }

  .event-div:hover {
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.8);
    transition: 0.3s;
  }

  .event-heading {
    font-size: 2vw;
    text-align: center;
    margin-left: 5%;
    color: rgb(17, 3, 77);
  }

  .event-container {
    display: flex;
    justify-content: center;
  }

  .event-description {
    text-align: center;
    font-size: 1.5vw;
    margin-left: 5%;
  }

  .event-img {
    width: 100%;
    display: block;
    height: 15vw;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .event-time {
    font-family: Lovelo;
    font-size: 2vw;
    margin: 0px 10vw;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 2vw;
  }
}
