body {
  background-image: url(trees-gc3b5b34aa_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.1);
}

body {
  background-image: url(trees-gc3b5b34aa_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.1);
}

#form-bg {
  margin: 0px;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

#form-header {
  margin: 2%;
  font-size: 3vw;
  font-family: Kano;
  font-weight: bold;
  text-align: left;
}

#form {
  width: 50%;
  background-color: white;
}

.form-label {
  color: #213d64;
  font-size: 1.5vw;
  font-family: Montserrat;
  margin: 0% 2%;
}

.form-input {
  margin: 2%;
  width: 36%;
  padding: 1%;
  border-color: #213d64;
  border-radius: 5px;
}

#submit-btn {
  color: white;
  background-color: #213d64;
  border: none;
  border-radius: 5px;
  padding: 2%;
  margin: 2% 0% 2% 2%;
  width: 96%;
}
#hide-rsvp-p {
  display: none;
}

#hide-rsvp-p2 {
  display: none;
}

/* Contact Form */
form {
  width: 90%;
  max-width: 600px;
}
.input-group {
  margin-bottom: 30px;
  position: relative;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #000000;
  color: #000000;
  background: transparent;
  font-size: 15px;
}

/**
label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: #000000;
  cursor: text;
  transition: 0.2s;
}
**/
button {
  padding: 0px 0;
  color: #000000;
  outline: none;
  background: transparent;
  border: 1px solid #000000;
  width: 100%;
  cursor: pointer;
}


/**
input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -35px;
  font-size: 14px;
}
**/
