body {
  background-image: url(trees-gc3b5b34aa_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100vh;
  font-family: Montserrat;
}

#form-bg {
  margin: 0px;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

#form-header {
  margin: 2%;
  font-size: 3vw;
  font-family: Kano;
  font-weight: bold;
  text-align: left;
}

#form {
  width: 50%;
  background-color: white;
}

.form-label {
  color: #213d64;
  font-size: 1.5vw;
  font-family: Montserrat;
  margin: 0% 2%;
}

.form-input {
  margin: 2%;
  width: 36%;
  padding: 1%;
  border-color: #213d64;
  border-radius: 5px;
}

#submit-btn {
  color: white;
  background-color: #213d64;
  border: none;
  border-radius: 5px;
  padding: 2%;
  margin: 2% 0% 2% 2%;
  width: 96%;
}

#hide-rsvp-p2 {
  display: none;
}

@media only screen and (max-width: 500px) {
  #form-header {
    font-size: 8vw;
    margin-bottom: 5px;
  }

  #form {
    height: 70%;
    width: 80%;
  }
  .form-label {
    font-size: 4vw;
  }

  .form-input {
    width: 50%;
  }
}
