@font-face {
  font-family: Lovelo;
  src: url(Lovelo\ Black.otf);
}

@font-face {
  font-family: Montserrat;
  src: url(Montserrat-Regular.ttf);
}

/*Nav Bar*/

#mobile-nav {
  display: none;
}

#nav {
  display: flex;
  position: fixed;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 16px 0px;
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

#text-logo-div {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  flex-grow: 9;
}

#text-logo {
  color: white;
  font-size: 2.4vw;
  padding: 0px;
  margin: 0px;
  font-family: Lovelo;
}

ul {
  list-style-type: none;
  margin: 0%;
  padding: 0px;
  overflow: hidden;
  float: right;
  flex-grow: 1;
}

li {
  float: left;
}

li a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: Lovelo;
}

p {
  color: #213d64;
  font-size: 22px;
  font-family: Montserrat;
}

#down-arrow {
  text-align: center;
  color: white;
  font-size: 10vw;
  font-family: Lovelo;
  margin: 0px;
  position: absolute !important;
  top: 85% !important;
  left: 50% !important;
  width: 10vw !important;
  height: 11vw !important;
  transform: translate(-50%, -50%);
}

#quote-div {
  background-color: #213d64;
  padding: 2%;
  margin: 3% 10%;
  box-shadow: 20px 15px 5px #283042;
  border-radius: 5px;
}

#quote {
  color: white;
  font-size: 2.5vw;
}

@media screen and (max-width: 500px) {
  #text-logo {
    font-size: 4.5vw;
  }

  .menu-content {
    display: none;
  }

  .menu-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .menu-btn {
    background-color: transparent;
    border: none;
    margin: 0% 25%;
  }

  .dropdown:hover .menu-content {
    display: block;
    position: absolute;
    z-index: 1;
  }

  #menu-img {
    height: 72px;
  }

  #mobile-nav {
    display: initial;
  }

  #computer-nav {
    display: none;
  }

  #down-arrow {
    display: none;
  }
}

/* Contact Form */

.container {
  width: 80%;
  margin: 50px auto;
  font-family: Montserrat;
}

.contact-box {
  background: #fff;
  display: flex;
}

.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
}

.contact-right {
  flex-basis: 40%;
  padding: 40px;
  background: #bb3131;
  color: #fff;
}

.contact-right-mobile{
  display: none;
}

.connect-h1 {
  margin-bottom: 10px;
}

.container p {
  margin-bottom: 10px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vw;
}

.input-row .input-group {
  flex-basis: 45%;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}

label {
  margin-bottom: 6px;
  display: block;
  color: #bb3131;
}

.contact-btn {
  background: #bb3131;
  width: 100px;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, alpha) 0.3;
}

.contact-left h3 {
  color: #bb3131;
  font-weight: 600;
  margin-bottom: 30px;
}

.contact-right h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.follow-h3 {
  margin-top: 30px;
}

tr td:first-child {
  padding-right: 15px;
  margin-left: 30px;
}

tr td {
  padding-top: 20px;
}

#hide-contact-p2 {
  display: none;
}


@media screen and (max-width: 500px){
  .contact-right-mobile{
    display: block;
    padding: 40px;
    background: #bb3131;
    color: #fff;
    margin: 10%;
  }

  .contact-right{
    display: none;
  }
}
