@font-face {
  font-family: Lovelo;
  src: url(Lovelo\ Black.otf);
}

@font-face {
  font-family: Montserrat;
  src: url(Montserrat-Regular.ttf);
}

@font-face {
  font-family: Kano;
  src: url(Kano.otf);
}

body {
  background-color: #f1f2f4;
  margin: 0px;
  padding: 0px;
}

section {
  margin: 16px 0px;
}

h1 {
  font-family: Lovelo;
  text-align: center;
  font-size: 3vw;
}

h2 {
  font-family: Lovelo;
  text-align: center;
  font-size: 2.5vw;
  color: #1a2f4d;
}

p {
  text-align: center;
}

.page-header {
  font-family: Kano;
  font-size: 3vw;
  margin: 4%;
  text-align: center;
  color: #1a2f4d;
}

.small-header {
  text-align: center;
  color: #213d64;
  margin: 75px auto;
  width: 500px;
}

#home-header {
  text-align: center;
  color: white;
  font-size: 3vw;
  font-family: Lovelo;
  margin: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.info-text-heading {
  margin-top: 6vw;
}

.text-div {
  text-align: left;
  padding: 0px 30px;
}

#home-header-div {
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url(pexels-ylanite-koppens-1693652.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: multiply;
  height: 100vh;
}

#mobile-home {
  display: none;
}

@media screen and (max-width: 500px) {
  #mobile-home {
    display: block;
  }

  #desk-home {
    display: none;
  }

  #home-header {
    font-size: 20px;
    text-align: center;
    color: white;
    font-size: 45px;
    font-family: Lovelo;
  }

  #home-header-div {
    background-image: url("pexels-ylanite-koppens-1693652.jpg");
  }

  .page-header {
    font-size: 30px;
  }
}

#zoom-div {
  background-color: #0a9d30;
  text-align: center;
  margin: 0px 15%;
}

#zoom-div > p {
  color: white;
}

#zoom-link {
  color: lightblue;
}

.table {
  display: table;
  padding: 0px;
  border-collapse: collapse;
}

.tr {
  display: table-row;
}

.td {
  display: table-cell;
  width: 50%;
  vertical-align: top;
}

.td-img {
  line-height: 0px;
  text-align: center;
}

.round-img {
  border-radius: 75px;
  width: 95%;
}

.flip-img {
  transform: scaleX(-1);
}

.info-text-heading {
  margin-bottom: 10px;
}

.event-page-button {
  background-color: red;
  color: white;
  border: none;
  font-family: Lovelo;
  font-size: 100%;
  padding: 16px;
  margin: 14px;
  border-radius: 5px;
}

.button-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-page-button:hover {
  transition: 0.5s;
  background-color: white;
  color: red;
  border: none;
  font-family: Lovelo;
  font-size: 100%;
  padding: 16px;
  margin: 14px;
  border-radius: 5px;
}

.event-page-button-link {
  text-decoration: none;
  color: white;
}

.event-page-button:hover {
  background-color: #cf0d12;
  transition: 0.5s;
}

.form-button {
  background-color: white;
  color: black;
  border: none;
  font-family: Lovelo;
  font-size: 200%;
  padding: 16px;
  display: block;
  margin: auto;
  border-radius: 5px;
  text-decoration: none;
}

.form-button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

.form-button-link {
  text-decoration: none;
  color: black;
}

.form-button-link:hover {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

#form-submitted-number {
  color: white;
  font-size: 50px;
}

.form-p {
  color: lightcyan;
  margin-top: 0.1vw;
  font-size: 22px;
  font-family: Montserrat;
  text-align: center;
  color: white;
}

#form-div {
  background-image: url(germany.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
}

.form-h1 {
  font-size: 4vw;
  color: white;
  text-align: center;
}

.form-p {
  text-align: center;
  color: white;
  font-family: Montserrat;
  font-size: 150%;
  margin: 5% 15%;
}

@media screen and (max-width: 500px) {
  .form-h1 {
    font-size: 30px;
  }

  .info-text-heading {
    font-size: 35px;
  }
}

.faq-class {
  background-color: #3c4053;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 2%;
  border-radius: 10px;
}

.faq-container {
  margin: 5% auto;
  padding: 1.5vw;
  z-index: 2;
}

.faq-header {
  color: white;
  font-family: Kano;
}

.other-event-link {
  color: black;
  font-family: Montserrat;
  text-align: center;
  font-size: 110%;
}
#other-events-text {
  margin: 5%;
}

/* Accordian */

.question {
  background-color: #283042;
  color: white;
  cursor: pointer;
  padding: 2%;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  font-family: Kano;
  margin: 1% 0%;
  border-radius: 5px;
  font-size: 1.5vw;
}

.active,
.question:hover {
  background-color: #bbb;
}

.answer {
  padding: 1%;
  display: none;
  background-color: white;
  border-radius: 5px;
}

/* Carousel */

.carousel-div {
  max-width: 70vw;
  position: relative;
  margin: auto;
}

.carousel-image {
  vertical-align: middle;
  height: 45vw;
}

.previous,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.previous:hover,
.next:hover {
  background-color: rgb(0, 0, 0);
}

@media only screen and (max-width: 500px) {
  .previous,
  .next {
    font-size: 11px;
  }

  .question {
    font-size: 15px;
  }

  .faq-header {
    font-size: 30px;
  }
}

.half-vector-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.half-vector-div {
  width: 42%;
  margin: 5%;
}

.half-vector-header {
  font-size: 3vw;
  font-family: Kano;
  text-align: left;
  margin-bottom: -0.06vw;
}

.vector-p {
  text-align: left;
}

.vector-img {
  width: 100%;
  height: 100%;
}

#half-vector-div1 {
  position: relative;
}

#half-vector-div2 {
  position: relative;
}

#about-div1 {
  background-color: whitesmoke;
}

#about-div2 {
  background-color: #ff5846;
}

.about-div-p1 {
  color: #1a2f4d;
}

.about-div-p {
  color: white;
}

.about-section {
  margin: 0px;
}

.framework-affirm {
  background-color: #1a2f4d;
  height: 25vw;
  margin-top: -4vw;
  align-items: center;
  justify-content: center;
}

#framework-affirm-p {
  color: white;
  size: 2vw;
}

#framework-affirm-header {
  padding-top: 6vw;
}

#about-header {
  background-image: url(annie-spratt-QckxruozjRg-unsplash.jpg) no-repeat center;
  height: 90vh;
  background-size: cover;
  z-index: 5;
}

@media only screen and (max-width: 480px) {
  #about-header {
    height: ;
  }
}

#about-header-description {
  position: absolute;
  top: 65%;
  left: 25%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2%;
  width: 35%;
}

#description-header {
  color: white;
  font-family: Kano;
  font-size: 2vw;
  text-align: left;
}

#about-description {
  color: white;
  text-align: left;
}

.mobile-about-section {
  display: none;
}

.resources-main-websites {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-websites {
  margin-right: 2vw;
  margin-left: 2vw;
}

@media screen and (max-width: 500px) {
  .mobile-about-section {
    display: block;
  }

  .desk-about-section {
    display: none;
  }

  .about-div-p {
    padding: 2%;
    margin-bottom: 0px;
  }

  #description-header {
    font-size: 25px;
  }

  #about-header-description {
    width: 60%;
    left: 40%;
  }

  #about-div1 {
    padding: 16px;
  }

  #about-div2 {
    padding: 16px;
  }

  .about-section {
    margin: 0px;
  }
  .framework-affirm {
    background-color: #1a2f4d;
    height: 400px;
    margin-top: -4vw;
    align-items: center;
    justify-content: center;
  }

  #framework-affirm-p {
    color: white;
    size: 2vw;
  }

  #framework-affirm-header {
    padding-top: 6vw;
    size: 40px;
  }

  .about-div-p {
    size: 1vw;
  }
}
