@font-face {
  font-family: Lovelo;
  src: url(Lovelo\ Black.otf);
}

@font-face {
  font-family: Montserrat;
  src: url(Montserrat-Regular.ttf);
}

body {
  background-color: #f1f2f4;
  margin: 0px;
  padding: 0px;
}

section {
  margin: 16px 0px;
}

h1 {
  font-family: Lovelo;
  text-align: center;
  font-size: 3vw;
}

h2 {
  font-family: Lovelo;
  text-align: center;
  font-size: 2.5vw;
  color: #1a2f4d;
}

p {
  text-align: center;
  font-size: 2.6vh;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.page-header {
  text-align: center;
  color: #213d64;
  margin: 5vw;
  font-size: 4vw;
  font-family: Lovelo;
}

.small-header {
  text-align: center;
  color: #213d64;
  margin: 75px auto;
  width: 500px;
}

#home-header {
  text-align: center;
  color: white;
  font-size: 50px;
  font-family: Lovelo;
  margin: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.info-text-heading {
  margin-top: 6vw;
}

.text-div {
  text-align: left;
  padding: 0px 30px;
}

#home-header-div {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url(christmas-gcd6dc9b54_1280.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: multiply;
  height: 100vh;
}

#mobile-home {
  display: none;
}

@media screen and (max-width: 500px) {
  #mobile-home {
    display: block;
  }

  #desk-home {
    display: none;
  }

  #home-header {
    font-size: 20px;
    text-align:center;
    color:white;
    font-size: 45px;
    font-family: Lovelo;
  }

  #home-header-div{
    background-image: url("pexels-dana-tentis-364668.jpg")
  }
}

.event-div {
  width: 25%;
  background-color: white;
  border-radius: 5px;
  margin: 0px 20px;
}

.event-div:hover {
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.8);
  transition: 0.3s;
}

.event-heading {
  font-size: 2vw;
  text-decoration: underline #ff412c;
  margin-left: 5%;
}

.event-container {
  display: flex;
  justify-content: center;
}

.event-description {
  text-align: left;
  font-size: 1.5vw;
  margin-left: 5%;
}

.event-img {
  width: 100%;
  display: block;
  height: 15vw;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#zoom-div {
  background-color: #0a9d30;
  text-align: center;
  margin: 0px 15%;
}

#zoom-div > p {
  color: white;
}

#zoom-link {
  color: lightblue;
}

.table {
  display: table;
  padding: 0px;
  border-collapse: collapse;
}

.tr {
  display: table-row;
}

.td {
  display: table-cell;
  width: 50%;
  vertical-align: top;
}

.td-img {
  line-height: 0px;
  text-align: center;
}

.round-img {
  border-radius: 75px;
  width: 95%;
}

.flip-img {
  transform: scaleX(-1);
}

.info-text-heading {
  margin-bottom: 10px;
}

.event-page-button {
  background-color: red;
  color: white;
  border: none;
  font-family: Lovelo;
  font-size: 100%;
  padding: 16px;
  margin: 14px;
  border-radius: 5px;
}

.button-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-page-button:hover {
  transition: 0.5s;
  background-color: white;
  color: red;
  border: none;
  font-family: Lovelo;
  font-size: 100%;
  padding: 16px;
  margin: 14px;
  border-radius: 5px;
}

.event-page-button-link {
  text-decoration: none;
  color: white;
}

.event-page-button:hover {
  background-color: #cf0d12;
  transition: 0.5s;
}

.form-button {
  background-color: white;
  color: black;
  border: none;
  font-family: Lovelo;
  font-size: 200%;
  padding: 16px;
  display: block;
  margin: auto;
  border-radius: 5px;
  text-decoration: none;
}

.form-button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

.form-button-link {
  text-decoration: none;
  color: black;
}

.form-button-link:hover {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

#form-submitted-number {
  color: white;
  font-size: 50px;
}

.form-p {
  font-family: Montserrat;
  color: lightcyan;
  margin-top: 0.1vw;
}

#form-div {
  background-image: url(germany.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  padding-bottom: 20%;
}

.form-h1 {
  font-size: 70px;
  color: white;
  text-align: center;
}

.form-p {
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 200%;
  margin: 5% 15%;
}

.faq-class {
  background-color: #3c4053;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 50px;
}

.faq-container {
  margin: 0 auto;
  padding: 1.5vw;
}

.faq-link {
  font-size: 1.6vw;
  color: white;
  text-decoration: none;
  background-color: #283042;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 0;
}

.faq-link i {
  color: #cf0d12;
  padding: 0.5vw;
}

.response {
  display: none;
  overflow: hidden;
  background-color: #212838;
  color: white;
  margin: 16px;
}

/*.response::before {
  content: "";
  position: absolute;
  width: 0.4vw;
  height: 100%;
  background-color: red;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}
*/

#question-1:hover + #response-1 {
  display: block;
}
#question-2:hover + #response-2 {
  display: block;
}
#question-3:hover + #response-3 {
  display: block;
}
#question-4:hover + #response-4 {
  display: block;
}

.response p {
  padding: 2vw;
  color: white;
}

.faq-item:target .response {
  max-height: 20vw;
}

.question-div {
  background-color: #283042;
  border-radius: 0.4vw;
  margin-bottom: 1vw;
  padding: 1vw;
  box-shadow: 0.5vw 2px 0.5vw rgba(0, 0, 0, 0.1);
}

.question-p {
  text-align: left;
  color: white;
}

/* https://www.youtube.com/watch?v=dPLHi7tsoFU
How to create an Accordion using CSS & Javascript
https://www.youtube.com/watch?v=MXrtXg1kpVs
Responsive FAQ accordion dropdown | HTML and CSS Tutorial */

.accordian {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vw;
  background-color: lightblue;
}

.accordian .contentBox {
  position: relative;
  margin: 10px 20px;
}

.accordian .contentBox .label {
  position: relative;
  padding: 10px;
  background-color: #2694af;
  color: white;
  cursor: pointer;
}

.accordian .contentBox .label::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5vw;
}

.accordian .contentBox .content {
  position: relative;
  background: white;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}

.accordian .contentBox.active .content {
  height: 150px;
  padding: 10px;
}

.accordian .contentBox.active .label::before {
  content: "-";
}

.other-event-link {
  color: black;
  font-family: Montserrat;
  text-align: center;
}
#other-events-text {
  margin: 5%;
}

/*Image Carousel*/

.carousel {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

/* RSVP FORM CSS */
