@font-face {
  font-family: Lovelo;
  src: url(Lovelo\ Black.otf);
}

@font-face {
  font-family: Montserrat;
  src: url(Montserrat-Regular.ttf);
}

body {
  background-color: #f1f2f4;
  margin: 0px;
  padding: 0px;
}

p {
  color: #213d64;
  font-size: 22px;
  font-family: Montserrat;
}

h1 {
  font-family: Lovelo;
  text-align: center;
}

h2 {
  font-family: Lovelo;
  font-size: 35px;
  text-align: center;
}

h3 {
  font-family: Lovelo;
  font-size: 35px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #e40010;
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
  height: 50px;
}

li {
  float: left;
}

li a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-family: Lovelo;
  height: 50px;
}

li a:hover {
  background-color: #cf0d12;
  color: white;
}

section {
  margin: 16px 0px;
}

.page-header {
  text-align: center;
  color: #213d64;
  margin: 5vw;
  font-size: 4vw;
  font-family: Lovelo;
}

.small-header {
  text-align: center;
  color: #213d64;
  margin: 75px auto;
  width: 500px;
}

#home-header {
  text-align: center;
  color: white;
  margin: 75px;
  font-size: 45px;
  font-family: Lovelo;
}

.text-div {
  text-align: left;
  padding: 0px 30px;
}

#home-header-div {
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url(pexels-brett-sayles-1708601.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: multiply;
  margin-top: 48px;
}

#special-text {
  color: #ff412c;
}

.active {
  background-color: white;
  color: #ff412c;
}

.fixed-nav {
  position: fixed;
  left: 0px;
  text-align: center;
  top: 0px;
  width: 100%;
}

a.logo {
  padding: 0px;
}

.logo-img {
  height: 100%;
}

.event-div {
  width: 25%;
  background-color: white;
  border-radius: 5px;
  margin: 0px 20px;
}

.event-div:hover {
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.8);
  transition: 0.3s;
}

.event-heading {
  font-size: 2vw;
  text-decoration: underline #ff412c;
  margin-left: 5%;
}

.event-container {
  display: flex;
  justify-content: center;
}

.event-description {
  text-align: left;
  font-size: 1.5vw;
  margin-left: 5%;
}

.event-img {
  width: 100%;
  display: block;
  height: 15vw;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#zoom-div {
  background-color: #0a9d30;
  text-align: center;
  margin: 0px 15%;
}

#zoom-div > p {
  color: white;
}

#zoom-link {
  color: lightblue;
}

.table {
  display: table;
  padding: 0px;
  border-collapse: collapse;
}

.tr {
  display: table-row;
}

.td {
  display: table-cell;
  width: 50%;
  vertical-align: top;
}

.td-img {
  line-height: 0px;
  text-align: center;
}

.round-img {
  border-radius: 75px;
  width: 95%;
}

.flip-img {
  transform: scaleX(-1);
}

.info-text-heading {
  margin-bottom: 10px;
}

.event-page-button {
  background-color: red;
  color: white;
  border: none;
  font-family: Lovelo;
  font-size: 100%;
  padding: 16px;
  margin: 14px;
  border-radius: 5px;
}

.event-page-button:hover {
  transition: 0.5s;
  background-color: white;
  color: red;
  border: none;
  font-family: Lovelo;
  font-size: 100%;
  padding: 16px;
  margin: 14px;
  border-radius: 5px;
}

.event-page-button-link {
  text-decoration: none;
  color: white;
}

.event-page-button:hover {
  background-color: #cf0d12;
  transition: 0.5s;
}

.form-button {
  background-color: white;
  color: black;
  border: none;
  font-family: Lovelo;
  font-size: 200%;
  padding: 16px;
  display: block;
  margin: auto;
  border-radius: 5px;
}

.form-button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

#form-submitted-number {
  color: white;
  font-size: 50px;
}

.form-p {
  font-family: Montserrat;
  color: lightcyan;
  margin-top: 35px;
}

#form-div {
  background-image: url(germany.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  padding-bottom: 20%;
}

.form-h1 {
  font-size: 70px;
  color: white;
}

.form-p {
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 200%;
  margin: 5% 15%;
}

/**/

body {
  align-items: center;
  background: #642b73;
  background: linear-gradient(to bottom, #c6426e, #642b73);
  display: flex;
  font-family: "Open Sans", sans;
  justify-content: center;
  overflow: hidden;
  perspective: 1800px;
  text-align: center;
  margin: 0 20px;
}

h1 {
  color: #3e3e42;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: -1px;
  margin-bottom: 30px;
  transform: translateZ(35px);
}

h3 {
  color: #eb285d;
  font-size: 16px;
  margin-bottom: 6px;
  transform: translateZ(25px);
}

.cards {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 10px 20px 20px rgba(0, 0, 0, 0.17);
  display: inline-block;
  padding: 30px 35px;
  perspective: 1800px;
  text-align: left;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  transform: rotateX(11deg) rotateY(16.5deg);
  min-width: 595px;
}

.card {
  border-radius: 15px;
  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  display: inline-block;
  height: 250px;
  overflow: hidden;
  perspective: 1200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translatez(35px);
  transition: transform 200ms ease-out;
  width: 175px;
  text-align: center;
}

.card__img {
  position: relative;
  height: 100%;
}

.card__bg {
  bottom: -50px;
  left: -50px;
  position: absolute;
  right: -50px;
  top: -50px;
  transform-origin: 50% 50%;
  transform: translateZ(-50px);
  z-index: 0;
}

.card-one {
  .card__img {
    top: 14px;
    right: -10px;
    height: 110%;
  }
  .card-bg {
    background: url("dinner.jpg") center / cover no-repeat;
  }
  .card__text {
    //background-color: #254b60;
  }
}

.card__two {
  .card__img {
    top: 25px;
  }
  .card__bg {
    background: url("cookies.jpeg") center / cover no-repeat;
  }
  .card__text {
    //background-color: #274a2e;
  }
}

.card__three {
  .card__img {
    top: 5px;
    left: -4px;
    height: 110%;
  }
  .card__bg {
    background: url("shopping.jpeg") center / cover no-repeat;
  }
  .card-bg {
    //background-color: #3e2222;
  }
}

.card-bg {
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.55) 100%
  );
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.card__title {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 0 10px;
  margin-bottom: 3px;
}
