body{
    background-color: #f2f2f2;
    margin:0px;
    padding-bottom:2%;
}

h1{
    text-align:center;
    color:slategrey;
    margin:100px;
    font-size:45px;
}

h3{
    text-align:center;
    color:slategrey;
    margin:75px auto;
    width:500px
}

p{
    color:slategrey;
    font-size:20px;
}

ul{
    list-style-type: none;
    margin:0px;
    padding:0px;
    overflow:hidden;
    background-color:forestgreen;
}

li{
    float:left;
}

li a{
    color:whitesmoke;
    text-align:center;
    display:block;
    width:70px;
    padding: 14px 16px;
    background-color:forestgreen;
    text-decoration:none;
}

img {
    width: 100%;
}

.text-div{
    text-align:left;
    padding-left:20px;
    padding-right:20px
}


.active{
    background-color:crimson;
}

.fixed-nav{
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
}

.event-div{
    height:250px;
    width:250px;
    background-color:white;
    border-radius:10%;
    margin:20px;
    box-shadow: 3px 3px 10px grey;
    text-align:center;
    padding:5px
}

.event-heading{
    font-size:x-large;
    text-decoration: underline crimson;
}

#event-container{
    display:flex;
    justify-content:center;
}

#zoom-div{
    background-color:forestgreen;
    text-align:center;
    margin:0px 15%;
}

#zoom-div > p{
    color:white;
}

#zoom-link{
    color:lightblue;
}

#table{ 
    display: table; 
}

.tr{ 
    display: table-row; 
}

.td{ 
    display: table-cell; 
    width:50%;
    vertical-align: top;
}
